<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <title>edit user</title>
</head>
<body>

<form th:method="patch" th:action="@{admin/users/update(id=${user.getId()})}" th:object="${user}"
<p>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter your name"/>
</p>
<p>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Enter your surname"/>
</p>
<p>
    <input type="text" th:field="*{username}" id="username" placeholder="Enter your username"/>
</p>
<p>
    <input type="text" th:field="*{password}" id="password" placeholder="Enter your password"/>
</p>
<p>
    <input type="text" th:field="*{age}" id="age" placeholder="Enter your age"/>
</p>
<p>
    <input type="text" th:field="*{email}" id="email" placeholder="Enter your email"/>
</p>
<hr>
<input type="submit" value="update user" class="button"/>

<input type = "button" value = "logout"
       onclick = "window.location.href = '/logout'"/>

</body>
</html>