<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <style>
        table, th, td {
            border:  2px solid black;
            border-collapse: collapse;
            width: auto;
            text-align: center;
        }
        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<h2>list of users</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>age</th>
        <th>email</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:cellpadding="5">
            <form th:action="@{/admin/users/edit/{id}(id=${user.getId()})}" method="get">
                <button type="submit">Edit</button>
            </form>
            &nbsp;
            <form th:action="@{/admin/users/delete/{id}(id=${user.getId()})}" method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<input type="button" value="current user"
       onclick="window.location.href='/user'"/>

<input type="button" value="add user"
       onclick="window.location.href='/admin/users/add'"/>

<input type="button" value="logout"
       onclick="window.location.href='/logout'"/>
</body>
</html>
